<form action="/api/category/admin/create" method="POST">
    <input type="text" id="name" name="name" placeholder="name">
    <input type="file" id="photo" name="photo" accept="image/*">
    <input type="text" id="product" name="products" placeholder="Product Id">
    <input type="submit" placeholder="click to submit">
</form>