<%- include('header.ejs') %>

<div class="ui container">
  <div class="text-center">
    <h2>Category Form</h2>
  </div>

  <form class="ui form" action="/api/category/admin/create" method="post" enctype="multipart/form-data">
    <label>Name</label>
    <input type="text" id="name" name="name" placeholder="Name" /><br /><br />
    <label>Priority</label>
    <select type="text" id="priority" name="priority" placeholder="Priority">
      <option value="Low">Low</option>
      <option value="High">High</option>
    </select>
    <br />
    <label>Upload an Image</label>
    <input type="file" id="photo" name="photo" accept="image/*" name="Category" multiple="multiple" /><br /><br />
    <input class="ui button primary" type="submit" value="Upload" />
  </form>
</div>